<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.pp.lab101.synthesizercontrol" >

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/main_app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.main.MainActivity"
            android:label="@string/main_app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--
            <intent-filter>
                <action android:name="android.hardware.ubs.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
            -->
        </activity>
        <activity
            android:name=".activity.accessory.AddItemToScheduleActivity"
            android:label="@string/additem_title_activity" >
        </activity>

        <service
            android:name=".service.BoardManagerService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.hardware.ubs.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </service>
        <!-- android:process=":BMService" -->
        <receiver
            android:name=".service.ServiceAutostartReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.accessory.ReadDataFromCSVFileActivity"
            android:label="@string/title_activity_read_schedule" >
        </activity>
        <activity
            android:name=".activity.accessory.WriteDataToCSVFileActivity"
            android:label="@string/write_title_main" >
        </activity>
        <activity
            android:name=".activity.accessory.AddItemToFreqScanActivity"
            android:label="@string/additem_freq_scan_main_title" >
        </activity>
    </application>

</manifest>
